<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="shortcut icon" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/7.0.0/normalize.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <style>
            body {
                line-height: 1.5em;
                font-size: 1.4rem;
                font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
                padding-bottom: 47px;
            }
            .problem-text{
                font-size: 1rem;
            }
        </style>
        {% block css %}
        {% endblock css %}
    </head>
    <body class="container">
        {% load static %}
        <div class="row">
            <a class="col-3" href="{% url 'contests' %}"><img src="{% static 'img/logo.jpg' %}"/></a>
            <div class="offset-6 col-3">
                {% if not user.is_authenticated %}<a  href="{% url 'login' %}">login</a>{% endif %}
                {% if user.is_authenticated %}{{ user.username }} <a  href="{% url 'logout' %}">logout</a>{% endif %}
            </div>
        </div>

        <div>
            <nav class="row nav">

            </nav>
        </div>

        {% block content %}
        {% endblock content %}

        {% block jsblock %}
        {% endblock jsblock %}
    </body>
</html>