{% extends "base.html" %}
{% block title %}
    Submit problem {{ problem.id }}
{% endblock title %}
{% block css %}
    <style>
            .notes{
                font-size: 0.9rem;
                line-height: 1.1em;
            }
            #source{
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 13px;
                font-weight: normal;
                border: 1px solid #ccc;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                line-height: 18px;
                padding: 4px;
            }
    </style>
{% endblock css %}
{% block content %}
        {% if problem is not None %}
            <div>
                <nav class="row nav problem-text">
                    {% if problem.contest is not none %}<a class="nav-link" href="/contest/{{ problem.contest_id }}">Dashboard</a>{% endif %}
                    {% if problem.contest is not none %}<a class="nav-link" href="#">Standings</a>{% endif %}
                    {% if problem.contest is not none %}<a class="nav-link" href="/contest/{{ problem.contest.id }}/user/{{ user.id }}/submissions">My submissions</a>{% endif %}
                    {% if problem.contest is none %}<a class="nav-link" href="/user/{{ user.id }}/submissions">My submissions</a>{% endif %}
                    {% if problem.contest is not none %}<a class="nav-link" href="#">Contest submissions</a>{% endif %}
                    {% if problem.contest is not none %}<a class="nav-link" href="#">Editorial</a>{% endif %}
                    <a class="nav-link" href="/customtest">Custom Test</a>
                </nav>
            </div>
        {% endif %}

        <div class="mx-auto" style="text-align: center">
            <div class="offset-5 col-3"><b>Submit solution</b></div>
            <div class="offset-5 col-3"><b>{{ problem.id }}. {{ problem.title }}</b></div>
            <div class="offset-5 col-3 problem-text">time limit: {{ problem.time_limit }} instruction(s)</div>
            <div class="offset-5 col-3 problem-text">memory limit: {{ problem.memory_limit }} byte(s)</div>
        </div>
        <form method="post" action="">{% csrf_token %}
            <div>
                <div>
                    <label class="t-0" for="source">Source code</label>
                </div>
                <div>
                    <textarea id="source" name="source" class="w-100" required maxlength="5000" rows="20"></textarea>
                    <p class="notes m-0">*Submit whole working assembly file</p>
                    <p class="notes">*No more than 5,000 character</p>
                </div>
            </div>
            <div class="mx-auto">
                <input type="submit" value="submit" class="btn btn-primary">
            </div>
        </form>
{% endblock content %}
